// CARD LIST DEFAULTS

.js_cardList_wrap {
    width: 1366px;
    margin:0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section.CardList {
    margin: 0 41px;
}

section.CardList.Type_A .card.card2, section.CardList.Type_A .card.card3, section.CardList.Type_A .card.card4, section.CardList.Type_A .card.card5, section.CardList.Type_A .card.card6 {
    margin-left: 40px;
}

section.CardList.Type_B .card.card2 {
    margin-left: 40px;
}

section.CardList.Type_B .card.card3 {
    margin-left: 41px;
}

section.CardList.Type_C .card.card2 {
    margin-left: 40px;
}
section.CardList.Type_D .card.card2 {
    margin-left: 40px;
}
section.CardList.Type_E .card.card2, section.CardList.Type_E .card.card3, section.CardList.Type_E .card.card4, section.CardList.Type_E .card.card5, section.CardList.Type_E .card.card6, section.CardList.Type_E .card.card7 {
    margin-left: 20px;
}

section.CardList .card {
  position: relative;
}
section.CardList .cardlistCopy h2 {
    font-size: 36px;
    text-align: center;
    position: absolute;
    font-weight: 100;
    margin: 0;
}
section.CardList .card.colorFFFFFF .cardlistCopy h2 {
  font-family: "HelveticaNeueW01-45Ligh", Arial, sans-serif;
}
section.CardList .card.color000000 .cardlistCopy h2 {
  font-family: "HelveticaNeueW02-55Roma", Arial, sans-serif;
}
.cardlist_button p {
    font-size: 18px;
    width: auto;
    display:inline-block;
    padding: 8px 25px;
    text-align: center;
    font-family: "HelveticaNeueW01-75Bold", Arial, sans-serif;
    font-weight: 900;
    margin:0 auto;
}
.cardlistCopy {
    position: absolute;
    width: 100%;
}
.cl_btn_wrapper {
    position: absolute;
    width: 100%;
}
section.CardList .cardlist_button {
  width:100%;
  margin: 0 auto;
  text-align: center;
}
section.CardList .cl_btn_wrapper {
  bottom:40px;
}
.card:hover p {
    background: rgba(255,255,255,0.5);
    -webkit-transition: background-color 333ms linear;
    -ms-transition: background-color 333ms linear;
    transition: background-color 333ms linear;
}

section.CardList .cardlistCopy {
  bottom:135px;
}
section.CardList .cardlistCopy h2 {
  width:100%;
}


// TYPE A CARD LIST
section.CardList.Type_A .card {
  float:left;
  width:291px;
  height:295px;
  padding:20px 0;
}


// TYPE B CARD LIST

section.CardList.Type_B .card {
  float:left;
  width:401px;
  height:295px;
  padding:20px 0;
}
// TYPE C CARD LIST

section.CardList.Type_C .card {
  float:left;
  width:622px;
  height:295px;
  padding:20px 0;
}

// TYPE D CARD LIST

section.CardList.Type_D .card {
  float:left;
  width:622px;
  height:500px;
  padding:20px 0;
}
// TYPE E GALLERY CARD LIST

section.CardList.Type_E .card {
  float:left;
  width:151px;
  height:151px;
  padding:10px 0;
}
section.CardList.Type_E {
    width: 1177px;
    margin: 0 auto;
}


// ** 1024 Screen Styles ** //

@media (max-width: 1365px) {
  .js_cardList_wrap {
    width: 1024px;
  }
  section.CardList {
      margin: 0 30px;
  }
  section.CardList .cl_btn_wrapper {
    bottom:30px;
  }
  section.CardList.Type_A .card.card2, section.CardList.Type_A .card.card3, section.CardList.Type_A .card.card4, section.CardList.Type_A .card.card5, section.CardList.Type_A .card.card6 {
      margin-left: 30px;
  }
  section.CardList .cardlistCopy h2 {
      font-size: 30px;
  }

  // TYPE A CARD LIST

  section.CardList.Type_A .card {
    float:left;
    width:213px;
    height:216px;
    padding:15px 0;
  }
  section.CardList.Type_A .cardlistCopy {
    bottom: 115px;
  }

  // TYPE B CARD LIST

  section.CardList.Type_B .card.card2, section.CardList.Type_B .card.card3 {
      margin-left: 30px;
  }

  section.CardList.Type_B .card {
    float:left;
    width:294px;
    height:216px;
    padding:15px 0
  }

  section.CardList.Type_B .cardlistCopy {
    bottom: 125px;
  }

  // TYPE C CARD LIST
  section.CardList.Type_C .card.card2 {
      margin-left: 30px;
  }

  section.CardList.Type_C .card {
    float:left;
    width:456px;
    height:216px;
    padding:15px 0
  }
  section.CardList.Type_C .cardlistCopy {
    bottom: 115px;
}

  // TYPE D CARD LIST

  section.CardList.Type_D .card.card2 {
      margin-left: 30px;
  }

  section.CardList.Type_D .card {
    float:left;
    width:456px;
    height:367px;
    padding:15px 0
  }
  section.CardList.Type_D .cardlistCopy {
    bottom: 115px;
}

// TYPE E CARD LIST
section.CardList.Type_E .card.card7 {
  display: none;
}
section.CardList.Type_E {
    width: 1006px;
    margin: 0 auto;
}

}
@media (max-width: 1023px) {
  .js_cardList_wrap {
    width: 600px;
  }
  section.CardList {
      margin: 0 30px;
  }
  section.CardList.Type_A .card.card3, section.CardList.Type_A .card.card5 {
      margin-left: 0px !important;
  }

  section.CardList.Type_E .card.card4 {
      margin-left: 0px !important;
  }


  // TYPE A CARD LIST

  section.CardList.Type_A .card {
    float:left;
    width:255px;
    height:259px;
    padding:15px 0
  }

  section.CardList.Type_A .cardlistCopy {
    bottom: 115px;
  }

  // TYPE B CARD LIST

  section.CardList.Type_B .card.card3 {
      Display:none;
  }

  section.CardList.Type_B .card {
    float:left;
    width:255px;
    height:188px;
    padding:15px 0
  }
  section.CardList.Type_B .cardlistCopy {
    bottom: 115px;
  }

  // TYPE C CARD LIST
  section.CardList.Type_C .card {
    float:left;
    width:540px;
    height:257px;
    padding:15px 0
  }
  section.CardList.Type_C .card {
      margin: 0 !important;
  }
  section.CardList.Type_C .cardlistCopy {
    bottom: 115px;
  }

  // TYPE D CARD LIST

  section.CardList.Type_D .card {
    float:left;
    width:540px;
    height:435px;
    padding:15px 0
  }
  section.CardList.Type_D .card {
      margin: 0 !important;
  }
  section.CardList.Type_D .cardlistCopy {
    bottom: 115px;
  }

  // TYPE E CARD LIST

  section.CardList.Type_E {
    width: 493px;
    margin: 0 auto;
  }

}
